body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.form-group button:hover {
    background-color: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 	#28282B; /* Adjust background color as needed */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
    color: white;

}

.navtext {
    color: white;
}

.button_outline { 
    border-color: black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.button_outline:hover {
    border-color: white; /* Outline color */
    border-radius: 5px;
    background-color: black;
    color: white;
}

.dropdown-toggle {
    color: white;
}

.logo:hover{
    transform: scale(1.3) rotate(15deg);
}

.navtext1 {
    color: white;
    ;
}

.username {
    color: white;
}

.underline {
    text-decoration: underline;
  }

.btn-primary2 {
    background-color: green;
}

.container h2 {
    /* Initial position off-screen to the right */
    opacity: 0;
    transform: translateX(100%);
  
    /* Animation properties */
    animation: slide-in 1s ease-in-out forwards;
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }